@using System.Reflection
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using Microsoft.Extensions.Logging
@inject LazyAssemblyLoader AssemblyLoader
@inject ILogger<App> Logger

<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="@AdditionalAssemblies">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>

    </CascadingBlazoredModal>
</CascadingAuthenticationState>

@code {
    private IList<Assembly> AdditionalAssemblies = new[]
    {
        typeof(FhirBlaze.PatientModule.PatientList).Assembly,
        typeof(FhirBlaze.PractitionerModule.Pages.PractitionerListPage).Assembly, 
        typeof(FhirBlaze.QuestionnaireModule.QuestionnaireList).Assembly
    };
}
