@page "/patient"
@using FhirBlaze.SharedComponents

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Patients</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button @onclick="ToggleCreate" class="btn btn-primary">@(ShowCreate?"Cancel": "Add Patient")</button>
            </li>
        </ul>
    </nav>
    <div class="container">
                @if (ShowCreate)
                {
                    <PatientCreate Patient="DraftPatient" Processing="@ProcessingCreate" CreatePatient="CreatePatient" />
                }

        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <table>
                        <tr class="my-table-header">
                            <th>Name</th>
                            <th>Name Count</th>
                            <th>Address</th>
                            <th>Address Count</th>
                        </tr>
                        @foreach (var patient in Patients)
                        {
                            <tr class="my-table-row" @onclick="@(e => PatientSelected(e, patient))" >
                                <td>@patient.Name.FirstOrDefault()</td>
                                <td>@patient.Name.Count()</td>
                                <td>@patient.Address.FirstOrDefault()</td>
                                <td>@patient.Address.Count()</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-sm">
                    @if (currentPatient.Id != null)
                    { 
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <h5 class="card-header">@currentPatient.Name.FirstOrDefault() - (@currentPatient.Gender)</h5>
                        <div class="card-body">
                            <p class="card-text">
                                Address: @currentPatient.Address.FirstOrDefault()
                                <br />
                                Phone: @currentPatient.Telecom.FirstOrDefault()
                                <br />
                                Date of Birth: @currentPatient.BirthDate
                                <br />
                                Email: @currentPatient.Contact.FirstOrDefault()
                            </p>
                            <button type="button" class="btn btn-primary">Active: @currentPatient.Active</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <br />
        <h3>Found: @Patients.Count patients!</h3>

        <!--<FhirBlaze.SharedComponents.LoadingSpinner />-->
    </div>
</div>

@code {

    private Hl7.Fhir.Model.Patient currentPatient = new Hl7.Fhir.Model.Patient();
    private Hl7.Fhir.Model.HumanName currentPatientName;

    private void PatientSelected(EventArgs e, Hl7.Fhir.Model.Patient newPatient)
    {
        currentPatient = newPatient;
        currentPatientName = newPatient.Name.FirstOrDefault();
    }
}

