@page "/patient"
@using FhirBlaze.SharedComponents

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Patients</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button @onclick="ToggleCreate" class="btn btn-primary">@(ShowCreate?"Cancel": "Add Patient")</button>
                <button @onclick="ToggleSearch" class="btn btn-primary">@(ShowSearch?"Cancel": "Search Patient")</button>
            </li>
        </ul>
    </nav>
    <div class="container">
                @if (ShowCreate)
                {
                    <PatientCreate Patient="DraftPatient" Processing="@ProcessingCreate" CreatePatient="CreatePatient" />
                   
                }

                @if (ShowSearch)
                {
                     <PatientSearch Patient="DraftPatient" Processing="@ProcessingSearch" SearchPatient="SearchPatient" />
                }

        <br/>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Name Count</th>
                            <th>Address</th>
                            <th>Address Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var patient in Patients)
                        {
                            <tr @onclick="@(e => PatientSelected(e, patient))" >
                                <td>@patient.Name.FirstOrDefault()</td>
                                <td>@patient.Name.Count()</td>
                                <td>@patient.Address.FirstOrDefault()</td>
                                <td>@patient.Address.Count()</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    @if (SelectedPatient?.Id != null)
                    { 
                        <div class="card-header">
                            <button @onclick="ToggleUpdate" class="btn btn-primary">@(ShowUpdate?"Cancel": "Update Patient")</button>
                        </div>

                        @if (ShowUpdate)
                        {
                            <PatientUpdate Patient="EditPatient" Processing="@ProcessingSearch" UpdatePatient="@UpdatePatient" />
                        }
                        else
                        {
                            <PatientDetail CurrentPatient="@SelectedPatient"/>
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <h3>Found: @Patients.Count patients!</h3>

        <!--<FhirBlaze.SharedComponents.LoadingSpinner />-->
    </div>
</div>

