
<div class="container">
	<h3>PatientDetail</h3>
	<div class="card border-primary mb-3" style="max-width: 18rem;">
        <h5 class="card-header">
            @CurrentPatient.Name.FirstOrDefault() - (@CurrentPatient.Gender)
            <button class="btn btn-primary">Edit</button>
        </h5>
        <div class="card-body">
            <p class="card-text">
                Address: @CurrentPatient.Address.FirstOrDefault()
                <br />
                Phone: @CurrentPatient.Telecom.FirstOrDefault()
                <br />
                Date of Birth: @CurrentPatient.BirthDate
                <br />
                Email: @CurrentPatient.Contact.FirstOrDefault()
            </p>
            <button type="button" class="btn btn-primary">Active: @CurrentPatient.Active</button>
        </div>
                        
    </div>
</div>


@code {

    [Parameter]
    public Hl7.Fhir.Model.Patient CurrentPatient { get; set; }
}
