@page "/patient"
@using FhirBlaze.SharedComponents

<div>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Patients</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button @onclick="ToggleCreate" class="btn btn-primary">@(ShowCreate?"Cancel": "Add Patient")</button>
            </li>
        </ul>
    </nav>
    <div class="container">
        @if (ShowCreate)
        {
            <PatientCreate />
        }

        @(ShowCreate)

        <table>
            <tr class="my-table-header">
                <th>Name</th>
                <th>Address</th>
            </tr>
            @foreach (var patient in Patients)
            {
                <tr class="my-table-row">
                    <td>@patient.Name</td>
                    <td>@patient.Address</td>
                </tr>
            }
        </table>
        <br />

        <h3>Found: @Patients.Count patients!</h3>

        <!--<FhirBlaze.SharedComponents.LoadingSpinner />-->
    </div>
</div>