@page "/questionnaire"
@using FhirBlaze.SharedComponents
@inject NavigationManager Navigation

<h3>Questionnaires List</h3>

<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Questionnaire</a>
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button @onclick="ToggleCreate" class="btn btn-primary">@(ShowCreate?"Cancel": "Add Questionnaire")</button>
                    <button @onclick="ToggleSearch" class="btn btn-primary">@(ShowSearch?"Cancel": "Search Questionnaire")</button>
                </li>
        </ul>
    </nav>
    <div class="container">
       
       <br/>   
       <div class="container">
         <div class="row">
            <div class="col-sm-8">
                <table class="table table-striped table-hover">
                    <tr class="my-table-header">
                        <th>Title</th>
                        <th>Date</th>
                        <th>&nbsp;</th>
                    </tr>
                    @foreach (var questionnaire in Questionnaires)
                    {
                        <tr class="my-table-row">
                            <td>@questionnaire.Title</td>
                            <td>@questionnaire.Date</td>                            
                            <td>
                                <button @onclick="() => OnRespondClick(questionnaire.Id)" class="btn btn-primary">Preview</button>
                                @if (!Navigation.Uri.Contains("/questionnaire"))
                                    {
                                        <button @onclick="() => OnSelectClick.InvokeAsync(questionnaire.Id)" class="btn btn-secondary">Set</button>
                                    }
                            </td>
                        </tr>
                    }
                </table>
            </div>

         </div>
        <br />
            @if (Loading)
            {
                <LoadingSpinner />
            }
            else
            {
              <h3>Found: @Questionnaires.Count Questionnaires! </h3>  
            }
        </div>
    </div>
</div>
