@page "/questionnaire/{id}"
@using Hl7.Fhir.Model


<h4>@Questionnaire.Title</h4>
<h8>(@Questionnaire.Id)</h8>

<form>
@foreach (var item in Questionnaire.Item)
{
    <div id=@item.LinkId>
        <h6><b>@item.Text</b></h6>

        @foreach (var question in item.Item)
        {
            <div class="form-group">
                <label for="@question.LinkId">@question.Text</label>
                @switch (question.Type)
                {
                    case Questionnaire.QuestionnaireItemType.String:
                        <input class="form-control" type="text" id="@question.LinkId"/>
                        break;
                    case Questionnaire.QuestionnaireItemType.Choice:
                        <select class="form-control" id="@question.LinkId">
                            @foreach (var o in question.AnswerOption)
                            {                             
                                var option = o.Value as Coding;                             
                                <option value="@option.Code">@option.Display</option>
                            }
                        </select>
                        break;
                    case Questionnaire.QuestionnaireItemType.Text:
                        <textarea class="form-control" id="@question.LinkId" rows="5" cols="50" />
                        break;
                    default:
                        <div>Not implemented</div>
                        break;
                }
            </div>
        }
    </div>
}
<button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr/>
<div>
    <h3>Responses (@QuestionnaireResponses.Count)</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Subject</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in QuestionnaireResponses)
            {
                <tr>
                    <td>@r.Authored</td>
                    <td>@r.Subject.Reference</td>
                </tr>
            }
        </tbody>
    </table>
</div>