@page "/questionnaire/{id}"
@using Hl7.Fhir.Model
@using Microsoft.AspNetCore.Components.Forms
<h3>Id: @Questionnaire.Id</h3>

<EditForm Model=@QResponse>
    @foreach (var item in QResponse.Item)
    {

        <h3>@item.Text</h3>
        @foreach (var ans in item.Answer)
        {
            @switch (@ans.Value.GetType().Name)
            {
                case "FhirString":
                 <h3>String:@ans.Value.ToString()</h3> 
                break;
                case "Coding":
                 <h3>Code: @((Coding)ans.Value).Display</h3>       
                break;
                default:
                    <h6>@ans.Value.GetType().Name</h6>
                    break;
            }
           
            
        }
    }        
</EditForm>

<form>
@foreach (var item in Questionnaire.Item)
{
    <div id=@item.LinkId>
        <h2>@item.Text</h2>

        @foreach (var question in item.Item)
        {
            <div class="form-group">
                <label for="@question.LinkId">@question.Text</label>
                @switch (question.Type)
                {
                    case Questionnaire.QuestionnaireItemType.String:
                        <input class="form-control" type="text" id="@question.LinkId"/>
                        break;
                    case Questionnaire.QuestionnaireItemType.Choice:
                        <select class="form-control" id="@question.LinkId">
                            @foreach (var o in question.AnswerOption)
                            {                             
                                var option = o.Value as Coding;                             
                                <option value="@option.Code">@option.Display</option>
                            }
                        </select>
                        break;
                    case Questionnaire.QuestionnaireItemType.Text:
                        <textarea class="form-control" id="@question.LinkId" rows="5" cols="50" />
                        break;
                    default:
                        <div>Not implemented</div>
                        break;
                }
            </div>
        }
    </div>
}
    @if (!IsPreview)
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</form>