@page "/questionnaire/{id}"
@using Hl7.Fhir.Model
@using Microsoft.AspNetCore.Components.Forms
@using static Hl7.Fhir.Model.QuestionnaireResponse


@if(!QLoaded){
    <h4>Loading</h4>
}else{
    <h4>@Questionnaire.Description</h4>
    <h5>(ID: @Questionnaire.Id)</h5>
}
@if (!QRLoaded)
{
    <h1>Loading QR response</h1>
}else{
   
    <EditForm Model=@QResponse OnSubmit=@SubmitQuestionnaireAsync>
       @DynamicFragment
       @if (!IsPreview){
                <button type="submit" class="btn btn-primary">Submit</button>
       }
    </EditForm>
}

@code{
    private RenderFragment DynamicFragment;
    private RenderFragment GetChildItems(List<ItemComponent> items) => __builder =>
    {
        @foreach (var item in items)
        {
           
            @if (item.Item.Count>0 )
            {
                @GetTitle(item.Text);
                @GetChildItems(item.Item);
            }
            else
            {
                 @GetAnswerDisplay(item);
            }
            <br/>
        }

    };

    private RenderFragment GetTitle(string title) => __builder =>
    {
        <label class="form-control">@title</label>
    };

    private RenderFragment GetBAnswerDisplay(ItemComponent item) => __builder =>
    {
        <label>Hi there</label>
        <label>@item.Text</label>
    };
    private RenderFragment GetAnswerDisplay(ItemComponent item) => __builder =>
    {
        @GetTitle(item.Text);
        @foreach(var ans in item.Answer)
        {
            @switch(QuestionTypesDictionary[item.LinkId])
            {
                case Questionnaire.QuestionnaireItemType.String:
                    <InputText class="form-control" @bind-Value=(((FhirString)ans.Value).Value) />
                    break;
                case Questionnaire.QuestionnaireItemType.Text:
                    <InputTextArea class="form-control" @bind-Value=(((FhirString)ans.Value).Value) />
                    break;
                case Questionnaire.QuestionnaireItemType.Choice:
                    <InputSelect @bind-Value=(((Coding)ans.Value).Code) class="form-control" >
                        @foreach(var option in AnswerOptionsDictionary[item.LinkId])
                        {
                            <option value="@option.Code">@option.Display</option>
                        }
                    </InputSelect>
                    break;
                default:
                    <h6>@ans.Value.GetType().Name</h6>
                    break;
            }
        }
    };
 
    private void RenderComponent(List<ItemComponent> items)
    {
        DynamicFragment += GetChildItems(items);       
    }

}